@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-text {
  background-image: -webkit-linear-gradient(90deg, #ff8c19 0%, #ffa800 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-background-size: 100% 100%;
}
